.text:hover{
 color : rgb(241,13,230);
}

.n1:hover{
	transform : translate(0px,5%);
	transition : all 0.8s ease 0s;
}


.text2._active {
transform: translate(0px,0px);
opacity: 1;
}

.top3._active {
transform: translate(0px,0px);
opacity: 1;
}

.top6._active {
transform: translate(0px,0px);
opacity: 1;
}

.top9._active {
transform: translate(0px,0px);
opacity: 1;
}

.top12._active {
transform: translate(0px,0px);
opacity: 1;
}

